page-block-details {

}

.borderbottom{
  padding-bottom: 5px;
    border-bottom: 1px solid #ff9800;
}

.borderbottomh2{
  padding-bottom: 5px;
    border-bottom: 1px solid #ff9800;
    color:black;
    font-weight: bold!important;
}

.borderbottomh3{
  padding-bottom: 5px;
    border-bottom: 1px solid #ff9800;
    color:black;
    font-weight: bold!important;
}

