<ion-header color="homeHeadTop">
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment [(ngModel)]="segment" (ionChange)="updateHome()">

      <ion-segment-button value="all">
        HOME
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
      <!-- neeed to implement -->
      <ion-segment-button value="event" >
        Events
      </ion-segment-button>
      <!-- need to update end -->
    </ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="redirectToLogin()">
        <ion-icon name="person" style="color:black"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateHome()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab bottom right #fab>
    <button ion-fab><ion-icon name="share"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="vimeo" (click)="openSocial('Vimeo', fab)"><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab color="google" (click)="openSocial('Google+', fab)"><ion-icon name="logo-googleplus"></ion-icon></button>
      <button ion-fab color="twitter" (click)="openSocial('Twitter', fab)"><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab color="facebook" (click)="openSocial('Facebook', fab)"><ion-icon 
        name="logo-facebook"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <!-- div for home -->
  <div *ngIf="homeFlag">
    <ion-card *ngFor="let item of homePageData;">
      <ion-item (click)="goHomeDetail(item)">
        <ion-avatar item-start>
            <img src= {{item.imgUrl}}/>
        </ion-avatar>
        <h2>{{item.title}}</h2>
        <p>{{item.time}}</p>
      </ion-item>
    
      <img src= {{item.imgUrl}}/>
    
      <ion-card-content>
        <p>{{item.subDesc}}</p>
      </ion-card-content>
    
       <ion-row>
        <ion-col>
          <button ion-button icon-start clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>12 Likes</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-start clear small>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col> 
         <ion-col center text-center>
          <ion-note>
            11h ago
          </ion-note>
        </ion-col> 
       </ion-row> 
    </ion-card>
  </div>

  <!-- div for favorite -->
  <div *ngIf="favoriteFlag">
    <h1>Need to be implemented</h1>
  </div>

<!-- div for event -->
<div *ngIf="eventFlag">
  <ion-card *ngFor="let item of eventData;">
    <ion-item (click)="goEventDetails(item)">
      <ion-avatar item-start>
          <img src= {{item.imgUrl}}/>
      </ion-avatar>
      <h2>{{item.title}}</h2>
      <p>{{item.time}}</p>
    </ion-item>
  
    <img src= {{item.imgUrl}}/>
  
    <ion-card-content>
      <p>{{item.subDesc}}</p>
    </ion-card-content>
  
     <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col> 
       <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col> 
     </ion-row> 
  </ion-card>
</div>
</ion-content>