page-media {
  .scroll-content {
    background:   #de4631
}
.circlelogo{
width: 46px;
height: 46px;
border-radius: 46px;
float: right;
}
 /* .toolbar-title {
    font-size: 140%;
    overflow: visible;
    position: relative;
    .subtitle {
      position: absolute;
      top: 8px;
      font-size: 66%;
      color:black;
    }
  } */
  }
